# This is a basic workflow to help you get started with Actions

name: Bash Tests

# Controls when the action will run. 
on: [push]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Run Installation
        run: |
          pip install "pyinstaller>=4.0,<5.0"
          pip install yfinance==0.1.55
          ./bash/install.sh
      # Runs a set of commands using the runners shell
      - name: Run shell tests
        run: |
          git clone https://github.com/sstephenson/bats.git
          sudo ./bats/install.sh /usr/local

          ./bash/test/test.sh
